*{
    margin: 0 auto;
}
body{
    background-color: grey;
}
header{
    width: 100%;
    background-color: darkblue;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    h1{
        color: white;
        text-align: center;
        font-size: 50px;
    }
}
main{
    background-color: black;
    max-width: 1400px;
    padding-top: 50px;
    color: white;
    .indroduction{
        max-width: 1200px;
        h1{
            font-size: 40px;
            text-align: center;
        }
        div{
            display: flex;
            img{
                width: 800px;}
            }
        p{
            font-size: 30px;
            text-align: center;
        }
    }

}

.machine{
    h1{text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    font-size: 40px;}
    div{display: flex;
        p{font-size: 30px; margin-left: 30px;}
    img{
        width: 700px;
     } 
    }
}
