    * {
        margin: 0 auto;
    }
    
    body {
        background-color: rgb(47, 45, 45);
    }
    
    header {
        width: 100%;
        background-color: darkblue;
        height: 80px;
        display: flex;
        align-items: center;
        position: fixed;
        h1 {
            color: white;
            text-align: center;
            font-size: 50px;
        }
    }
    
    main {
        background-color: black;
        max-width: 1400px;
        padding: 100px 0 30px 0;
        color: white;
        .indroduction {
            max-width: 1200px;
            h1 {
                font-size: 40px;
                text-align: center;
            }
            div {
                display: flex;
                img {
                    width: 800px;
                }
            }
            p {
                font-size: 30px;
                text-align: center;
            }
        }
        .machine {
            h1 {
                text-align: center;
                margin-top: 50px;
                margin-bottom: 50px;
                font-size: 40px;
            }
            .learning,
            .data {
                display: flex;
                margin-top: 50px;
                p {
                    font-size: 30px;
                    margin-left: 50px;
                    margin-right: 50px;
                }
                img {
                    width: 400px;
                    margin-left: 50px;
                    margin-right: 50px;
                }
            }
        }
        .study {
            max-width: 1400px;
            h1 {
                text-align: center;
                margin: 30px 0 30px 0;
                font-size: 40px;
            }
            .column {
                display: grid;
                grid-template-columns: 400px 400px 400px;
                align-items: center;
                justify-content: center;
                div {
                    height: 550px;
                    background-color: rgb(0, 0, 54);
                    font-size: 30px;
                    margin: 20px 20px 20px 50px;
                    text-align: center;
                    hr {
                        margin: 0 auto;
                        width: 300px;
                        margin-bottom: 30px;
                    }
                    h1 {
                        font-size: 35px;
                    }
                }
            }
        }
        .view {
            h1 {
                text-align: center;
                margin: 30px 0 30px 0;
                font-size: 40px;
            }
            .column-2 {
                display: grid;
                grid-template-columns: 450px 450px;
                align-items: center;
                justify-content: center;
                div {
                    height: 600px;
                    background-color: rgb(0, 0, 54);
                    font-size: 30px;
                    margin: 20px 20px 20px 50px;
                    text-align: center;
                    h1 {
                        font-size: 35px;
                    }
                    hr {
                        margin: 0 auto;
                        width: 300px;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .good {
            text-align: center;
            h1 {
                font-size: 40px;
                margin: 20px 0 20px 0;
            }
            p {
                font-size: 30px;
                text-align: center;
                margin: 20px 20px 20px 20px;
            }
            img {
                width: 1000px;
            }
        }
    }